#bloc {
	background-color: brown;
	height: 80px;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 30px;
}

#imgLogo {
 	width: 200px; 
 }

.head {
 	margin-left: 30px;
 	color: white;
 }

#bloc_page {
	max-width: 1400px;
	margin: auto;
	display: flex;
	flex-direction: column;
	margin-top: 50px;
} 

.list_block {
	display: flex;
	justify-content: space-around;
}

.until {
	width: 300px;
	height: 200px;
	border: 1px solid #778899;
	border-radius: 5px;
	box-shadow: 0px 0px 1px 1px black;
}

.until_10 {
	padding-right: 50px;
	padding-left: 50px;
}

header div {
 	background-color: black;
 }

section {
	text-align: center;
}

.titre {
	font-size: 5.5rem;	
}

.board {
	background-color: brown;
	border-radius: 10px;
	color: white;
}	

@media all and (max-width: 925px) {  
	.list_block {
		display: flex;
		flex-wrap: wrap;
	}
}

/* other page */
.tabs {
	width: 700px;
	margin: auto;
	border-radius: 2px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.tabs-onglets {
	width: 45%;
	margin: auto;
}

.onglets {
	font-weight: 700;
	cursor: pointer;
	border-bottom: 2px solid black;
}

.contenu {
	height: 50%;
	width: 50%;
	position: absolute;
	opacity: 0; 
}

/* Anim */ 

.active {
	background: midnightblue;
	color: #F1F1F1;
	transition: all 0.3s ease;
}

.activeContenu {
	animation: fade 0.5s forwards;
}
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
